/* App.css */
.container {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#template-variables-section {
  margin-bottom: 20px;
}

#blocks-section {
  margin-top: 20px;
}

/* Center (Editor) */
.editor-container {
  width: 60%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Right Sidebar */
.right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#right-sidebar h2 {
  margin-bottom: 10px;
}
/* App.css */
.container {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#template-variables-section {
  margin-top: 20px;
}

/* Center Editor */
.editor-container {
  width: 60%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Right Sidebar */
.right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#right-sidebar h2 {
  margin-bottom: 10px;
}




