/* App.css */
.container {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#template-variables-section {
  margin-bottom: 20px;
}

#blocks-section {
  margin-top: 20px;
}

/* Center (Editor) */
.editor-container {
  width: 60%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Right Sidebar */
.right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#right-sidebar h2 {
  margin-bottom: 10px;
}
/* App.css */
.container {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.left-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#template-variables-section {
  margin-top: 20px;
}

/* Center Editor */
.editor-container {
  width: 60%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Right Sidebar */
.right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

#right-sidebar h2 {
  margin-bottom: 10px;
}


.file-drop-area {
  background-color: #333;
  color: #fff;
  text-align: center;
  border: 2px dashed #aaa;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.file-drop-area.bg-gray-700 {
  background-color: #444; /* Change on dragover */
}

.file-upload-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.gjs-pn-panel .gjs-pn-commands {
  width: 50px;
  height: 200px;

}

